<div class="container-xl">
  <form class="row g-3" id="sellaspot-form">
      <div class="col-md-6">
        <label class="form-label">Slot Number</label>
        <input type="text" class="form-control" id="slotNo">
      </div>
      <div class="col-md-6">
        <label class="form-label">Street Number </label>
        <input type="text" class="form-control" id="streetNo">
      </div>
      <div class="col-12">
        <label class="form-label">Street Name</label>
        <input type="text" class="form-control" id="streetName" placeholder="1234 Main St">
      </div>
      <div class="col-md-6">
        <label class="form-label">Suburb </label>
        <input type="text" class="form-control" id="suburb">
      </div>
      <div class="col-md-2">
        <label class="form-label">State</label>
        <select class="form-select" id="state" aria-label="Default select example">
          <option selected>Choose</option>
          <option value="1">NSW</option>
          <option value="2">NT</option>
          <option value="3">SA</option>
          <option value="3">TAS</option>
          <option value="3">VIC</option>
          <option value="3">WA</option>
        </select>
    </div>
      <div class="col-md-2">
        <label class="form-label">Post Code</label>
        <input type="text" class="form-control" id="postcode">
      </div>
      <div class="col-md-2">
        <label class="form-label">Rate</label>
        <input type="text" class="form-control" id="rate">
      </div>
      <div class="col-md-4">
        <label class="form-label">Location Tag</label>
        <select class="form-select" id="locationTag" aria-label="Default select example">
          <option selected>Choose</option>
          <option value="Elizabeth Quay">Elizabeth Quay</option>
          <option value="City">City</option>
          <option value="Airport">Airport</option>
        </select>
    </div>
    <section class="col-md-4">
          <div class="row form-group">
            <label class="form-label">Start Date</label>
                  <div class="input-group date" id="datepicker1">
                      <input type="text" class="form-control" id="startDate">
                      <span class="input-group-append">
                          <span class="input-group-text bg-white d-block">
                              <i class="fa fa-calendar"></i>
                          </span>
                      </span>
                  </div>
          </div>
    </section>
    <section class="col-md-4">
          <div class="row form-group">
            <label class="form-label">End Date</label>
                  <div class="input-group date" id="datepicker2">
                      <input type="text" class="form-control" id="endDate">
                      <span class="input-group-append">
                          <span class="input-group-text bg-white d-block">
                              <i class="fa fa-calendar"></i>
                          </span>
                      </span>
                  </div>
          </div>
    </section>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">Submit Parking Spot</button>
    </div>
  </form>
</div>

<script src="/js/sellaspot.js"></script>