<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    height: 400px;
  ">
  <div class="mask" style="background-color: rgba(22, 53, 121, 0.555);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Sell A Spot</h1>
        <h4 class="mb-3">List your parking spot below you would like to lease to other people and make money when your not parked there.</h4>
      </div>
    </div>
  </div>
</div>
<!-- Hero -->

<div class="container-xl p-5">
  <form class="row g-3" id="sellaspot-form">
      <div class="col-md-6">
        <label class="form-label">Slot Number</label>
        <input type="text" class="form-control" id="slotNo">
      </div>
      <div class="col-md-6">
        <label class="form-label">Street Number </label>
        <input type="text" class="form-control" id="streetNo">
      </div>
      <div class="col-12">
        <label class="form-label">Street Name</label>
        <input type="text" class="form-control" id="streetName" placeholder="1234 Main St">
      </div>
      <div class="col-md-6">
        <label class="form-label">Suburb </label>
        <input type="text" class="form-control" id="suburb">
      </div>
      <div class="col-md-2">
        <label class="form-label">State</label>
        <select class="form-select" id="state" aria-label="Default select example">
          <option selected>WA</option>
          <option value="NSW">NSW</option>
          <option value="NT">NT</option>
          <option value="SA">SA</option>
          <option value="TAS">TAS</option>
          <option value="VIC">VIC</option>
          <option value="WA">WA</option>
        </select>
    </div>
      <div class="col-md-2">
        <label class="form-label">Post Code</label>
        <input type="text" class="form-control" id="postcode">
      </div>
      <div class="col-md-2">
        <label class="form-label">Rate</label>
        <input type="text" class="form-control" id="rate">
      </div>
      <div class="col-md-4">
        <label class="form-label">Location Tag</label>
        <select class="form-select" id="locationTags" aria-label="Default select example">
          <option selected>City</option>
          <option value="Elizabeth Quay">Elizabeth Quay</option>
          <option value="City">City</option>
          <option value="Airport">Airport</option>
        </select>
    </div>
    <section class="col-md-4">
          <div class="row form-group">
            <label class="form-label">Start Date</label>
                  <div class="input-group date" id="datepicker1">
                      <input type="text" class="form-control" id="startDate">
                      <span class="input-group-append">
                          <span class="input-group-text bg-white d-block">
                              <i class="fa fa-calendar"></i>
                          </span>
                      </span>
                  </div>
          </div>
    </section>
    <section class="col-md-4">
          <div class="row form-group">
            <label class="form-label">End Date</label>
                  <div class="input-group date" id="datepicker2">
                      <input type="text" class="form-control" id="endDate">
                      <span class="input-group-append">
                          <span class="input-group-text bg-white d-block">
                              <i class="fa fa-calendar"></i>
                          </span>
                      </span>
                  </div>
          </div>
    </section>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">Submit Parking Spot</button>
    </div>
  </form>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script src="/js/sellaspot.js"></script>